/*  Theme Name: Signature Slick Theme
    Author: Frantisek Friedl
    Version: 1.0
*/
/* Sample color scheme: "dark_color"=>"#3a3a3a", "cta_color"=>"#6c757d", "highlight_section_color"=>"#e9ecef", "accent_color"=>"#f7f7f7", "light_color"=>"#ffffff" */

/* Overwrite Bootstrap */
.btn{
    background-color: #6c757d!important;
    border-color: #6c757d!important;
 }
 
 .btn:hover {
    background-color: #3a3a3a!important;
 }
 
 .jumbotron{
    background-color: #f7f7f7!important;
 }
 
 .item-backgorund{ 
    background-color: #e9ecef!important;
 }
 
 .card-header{
    background-color: #e9ecef!important;
 }
 
 .card-body{
    background-color: #ffffff!important;
 }
 
 .card{
    background-color: #ffffff!important;
 }


 /* Theme Styles */
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#body{ 
  background-color: #ffffff!important; 
  color: black!important;
}

a {
   color: black!important;
   
}

/* Utility classes */
.bg-color-dark{
   background-color: #3a3a3a!important;
}

.bg-color-cta{
   background-color: #6c757d!important;   
}

.bg-color-section-highlight{
   background-color: #e9ecef!important;
}

.bg-color-accent {
   background-color: #f7f7f7!important;
}

.bg-color-light {
   background-color: #ffffff!important;
}

.text-color {
  color: black!important;
}

.text-color-light {
  color: #fff!important; 
}

.underline-link{  
  text-decoration: underline;
}

.centered-content{
 margin: auto;
}

.text-underline {
  text-decoration: underline;
}

.text-left{
   text-align: left;
}

.text-right{
   text-align: right;
}

.text-center{
  text-align: center;
}

.display-none{
  display: none;
}

.full-width{
  width: 100%;
 }

.img-height-70{
  height:70px;  
}

.height-80 {
  height: 80px;
}

.height-100{
  height: 100px;
}

.max-height-100{
  max-height: 100px;
}

.max-width-50 {
  max-width: 50px;
}

.max-width-200 {
  max-width: 200px!important;
}

.max-width-350 {
  max-width: 350px!important;
}

.height-250{
  height: 250px;
}

.max-height-200{
  max-height: 200px;  
}

.max-full-width {
  max-width: 100%; 
}

.no-padding{
  padding: 0px 0px 0px 0px!important
}

.remove-container{
  width: 100vw;
  position: relative;
  margin-left: -50vw;    
  left: 50%;
}

.pointer {
  cursor: pointer;  
}

// Container
.main-content-wrapper{
  margin-top: 68px;
  min-height: 76vh;
}

// Navigation bar
.top-navigation{
  height: 68px;
}

.top-navigation a:hover, .nav li:hover {
   background-color: #6c757d;   
}

.navbar-collapse ul{
  padding: 10px!important;
}

.navbar{
  padding: 0px!important;
}

.navbar-brand{
  padding: 5px!important;
}

.small-image{
  max-height: 110px;
}

.user-introduction{
  height: 100vh;      
  background-color: #e9ecef!important; 
}

.user-introduction .col-12 {
  height: 100vh;
  margin-top: 15vh;
}

footer{
  color: white;   
}



.btn-social{
  background-color: #fff!important;
}
.social-media-links{
  margin-left: 0px!important;
  margin-right: 0px!important;
}
 
.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.jumbotron .home-page-title{
  font-size: 1.5rem;
}

.modal-close-btn{
 font-size: 1.6rem;
 cursor: pointer;
}

.modal-dialog{
 max-width: 95%!important;
}

.portfolio-item-view-img{
 max-width: 600px;
}

.modal-content{
  background-color: #fff;
}

.card-header ul{
 list-style: none;
}

.portfolio-icons .fa{
  font-size: 50px;
  margin-right: 2%;
}

.portfolio-icons .icon{
  font-size: 50px;
  margin-right: 2%;
}

.qualifications img{
  max-width: 150px;
}


.concise-text p{
  padding: 0px;
  margin: 0px;
  line-height: 2;
}

li{
  line-height: 2;
}

/* Mobile View */
@media only screen and (min-width: 768px) {
  .item-img-preview {
     width: 100%;
     height: 15vw;
     max-height: 168px;
     object-fit: cover;
   }
 }

 /* xs by Bootstrap */
@media only screen and (max-width: 576px) {
  
  .center-text-mobile {
      text-align: center!important;
   }

  .article-mobile-view {
      margin-left: 16.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
   }
   .mobile-responsive{
     max-width: 100%;
   }

   .max-width-350 {
     max-width: 250px!important;
   }   

 }

/*  Smaller than Bootstrap xs */
@media only screen and (max-width: 456px) {
  .article-mobile-view {
      margin-left: 8.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
   }
 }


 




 